<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dock Lights</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.png') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mode').change(function () {
                submit_docklights();
            })
        });

        function submit_docklights() {
            window.event.preventDefault();
            $('#success_messages').html('');
            var selection_id = $('#mode').val();
            var selection_text = $('#mode option[value=' + selection_id + ']').text();
            $.ajax({
                type: 'POST',
                data: $('#dock_light_controls').serializeArray(),
                url: "{{ url_for('homepage') }}",
                success: function () {
                    $('#success_messages').append('<li>Turning ' + selection_text + '</li>');
                    $('#success_messages').removeClass('hidden');
                }
            })
        }
    </script>

</head>
<body>
<div class="form-group col-lg-6 col-sm-12 col-xs-12 mt-5">
    <form id="dock_light_controls">
        <select name="mode" class="form-control input-lg" id="mode">
            <option value="none" class="form-control" selected disabled>- Pick a Mode -</option>
            <option value="1" class="form-control">Red</option>
            <option value="2" class="form-control">Green</option>
            <option value="3" class="form-control">Blue</option>
            <option value="4" class="form-control">Orange</option>
            <option value="5" class="form-control">Turquoise</option>
            <option value="6" class="form-control">Purple</option>
            <option value="0" class="form-control">White</option>
            <option value="Ok" class="form-control">Fade Off</option>
            <option value="Pound" class="form-control">Brightness Up</option>
            <option value="Star" class="form-control">Brightness Down</option>
            <option value="Right" class="form-control">Speed Up</option>
            <option value="Left" class="form-control">Speed Down</option>
            <option value="Up" class="form-control">Mode Up</option>
            <option value="Down" class="form-control">Mode Down</option>
        </select>
    </form>
    <ul style="color: green;" id="success_messages" class="mt-3 hidden"></ul>
</div>
</body>
</html>